
section.profile{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info img{
    width: 168px;
    height: 168px;
    border-radius: 84px;
    margin-right: 56px;
}

.profile-info button{
    margin-top: 7px;
width: 123px;
height: 41px;
border: none;
color: white;
background: linear-gradient(286.5deg, rgba(255, 111, 30, 0.94) -63.38%, #5059CF 107.08%, #4E58D1 151.92%, #4A58D5 151.94%);
border-radius: 10px;
cursor: pointer;
}

.profile-info h1{
font-weight: 500;
font-size: 18px;
color: #2B2B2B;
}

.profile-info{
    display: flex;
    align-items: center;
    
}

.activities-history{
    margin-top: 50px;
}

.activities-history h1{
font-weight: 500;
font-size: 24px;
color: #3E435D;
}

div.role{
box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
border-radius: 16px;
width:437px;
padding:23px;
display: flex;
justify-content: space-between;
margin-bottom: 15px;
}

.role-details p{
    font-size: 13px;
color: #A3AED0;


}

.role-details h1{
    margin-top: 3px;
    font-size: 14px;
color: #2B3674;

}

.role .date{
    font-size: 13px;
color: #2E3789;

}