*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    font-family: 'Poppins', sans-serif;
    
}

nav{
    font-weight: 300;
    font-size: 14px;
    padding-top: 101px;
    width: 163px;
    height: 100vW;
    position: fixed;
    background-color: #2E3789;
}

nav li{
    list-style: none;
    margin-bottom: 50px;
}

nav li a{
    text-decoration: none;
    color: white;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin-left: 200px;
    padding: 80px;
    height: 900px;
}

.title-page{
    font-size: 24px;
    color: #3E435D;
    font-weight: 500;
    margin-bottom: 50px;
}