.event img{
    width: 184px;
    border-radius: 18px;
    margin-right: 50px;
}

.event{
    display: flex;
   
    align-items: center;
    margin-bottom: 30px;
}

section.events{
    
}

.events-container{
margin-top: 20px;
}