
.members-container{
    margin-top: 45px;
}

.member{
display: flex;
align-items: center;
margin-bottom: 26px;
position: relative;
padding-right: 50px;
width: 30%;
}

.member img{
    margin-right: 11px;
    width: 90px;  
    border-radius: 50%;
}

.member .member-data h1{
    font-size: 18px;
    color: #2B2B2B;
    font-weight: 500;
}

.member-data .role{
color: #848484;
font-size: 15px;
font-weight: 400;
}

.online{
    position: absolute;
    right: 0;
    background-color: #73C566;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}

