.oportunity-data .name{
    color: #050505;
    margin-top: 20px;
}

.oportunity-data .date{
    color: #6c6c6c;
    text-transform: capitalize;
    color: #212c92;
    font-weight: 500;
    margin-top: 5px;
}

.oportunity-data .address{
    color: #848484;
    margin-top: 5px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CCCCCC;
    width: 70%;
}

.title{
    color: #1B2559;
    font-size: 18px;
    margin-top:20px;
}

.oportunity-data .description{
    color: #3E435D;
    font-size: 16px;
    margin-top: 5px;
    width: 70%;
}


.oportunity-data img{
    width: 60%;
}